audio-player {
    .audio-player {
        position: relative;
    }
    button {
        vertical-align: middle;
    }
    ion-range {
        width: calc(100% - 94px);
        display: inline-block;
        vertical-align: middle;
    }
    .range-ios {
        width: calc(100% - 104px);
        padding-left: 15px;
    }
    span.time {
        color: gray;
        font-size: 12px;
        bottom: 5px;
        right: 55px;
        position: absolute;
    }
}