    page-home {
        button {
            vertical-align: middle;
        }
        ion-range {
            width: calc(100% - 94px);
            display: inline-block;
            vertical-align: middle;
        }
    }